*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.first-section{
    background: rgba(229, 84, 115, 0.10);
}
.flowers{
    height: 60vh;
}
.main-flower{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flower-container{
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px gray;
}
.header-container{
    display: flex;
    height: 94vh;
    align-items: center;
    width: 80%;
    margin: auto;
}
.first-heading{
    color: #272727;
font-size: 80px;
font-weight: 800;
margin-bottom: 32px;
}
.first-paragraph{
    color: rgba(39, 39, 39, 0.6);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 32px;
width: 70%;
}
.btn{
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
background: #E55473;
color: #FFF;
font-size: 20px;
font-weight: 700;
border: none;
}
.first-image{
    width: 635px;
height: 800px;
padding-top:88px;
}
.second-heading{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-top: 175px;
margin-bottom: 24px;
}
.image-container{
    padding-top: 100px;
    padding-right: 300px;
    padding-bottom: 80px;
}
.second-paragraph{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 48px;
}
.second-section{
    height: 100vh;
}
.bonus{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.middle-title{
    padding-left: 180px;
    padding-bottom: 200px;
}
.bonuss{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
}
.bonusss{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
}
.bonussss{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
}
.third-heading{
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
.third-section{
    height: 70vh;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.fourth-heading{
    color: #272727;
font-size: 40px;
font-weight: 800;
text-align: center;
}
.off{
    color: #E55473
}
.prime{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-left: 230px;
    margin-top: 0px;
}
.fourth-section{
    margin-top: 0px;
    height: 60vh;
    margin-bottom: 0px;
}
.third-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.fifth-section{
    width: 1440px;
    margin: auto;
    background-image: url("images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
height: 449px;
border-radius: 8px;
margin-bottom: 0px;
}
input[type="email"]{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 16px;
font-weight: 400;
border-radius: 8px;
background: #FFF;
padding: 23px 513px 22px 22px;
border: 0px;
}
input[type="submit"]{
    border-radius: 8px;
    background: #E55473;
    padding: 25px 30px 18px 31px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
form{
    text-align: center;
    margin: 50px;
}
.fourth-container{
    margin-top: 40px;
    padding-top: 0px;
}
.fourth-heading{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 175px;
    padding-top: 122px;
    padding-bottom: 16px;
}
.third-paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}
.fifth-heading{
font-size: 48px;
font-weight: 800;
color: white;
text-align: center;
padding-top: 128px;
padding-bottom: 24px;
}
.sixth-heading{
    color: #E55473;
font-size: 48px;
font-weight: 800;
}
.footer-container{
    height: 47vh;
    background-color: #111010;
    margin-top: 128px;
}
.fourth-paragraph{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
}
.fifth-paragraph{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding-bottom: 32px;
}